[dev]
mongodb_user=localhost
mongodb_password=
mongodb_host =localhost
mongodb_port=27017
mongodb_name=assignment
jwt_secret_key=key
verification_url=http://localhost:5001/api/v1/user/verify-email?token=
base_media_url=http://localhost:5001/api/v1/media-secure-file/
encryption_key=secret
url_validity_period=3600
smtp_server = smtp.mailmug.net
smtp_port=2525
mail_login = zmurbrq4hhfo90mm 
mail_password = 26uzmfwl9sqpmvoq 
mail_sender = yimepoy918@mowline.com
